﻿
@model IPAdmin.ViewModels.PatentViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Patent</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IntSearchCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IntSearchCode)
            @Html.ValidationMessageFor(model => model.IntSearchCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Owner)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Owner)
            @Html.ValidationMessageFor(model => model.Owner)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Agency)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Agency)
            @Html.ValidationMessageFor(model => model.Agency)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.AvailablePatentCountries)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AvailablePatentCountries)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")    
}