﻿@using System.Activities.Statements
@using System.Diagnostics.Eventing.Reader
@using System.Web.Security
@using IPAdmin.ViewModels
@model IPAdmin.Models.Patent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@if (!string.IsNullOrWhiteSpace((string)TempData["Message"]))
{
    <div style="color: red; font-weight: bold">@TempData["Message"]</div>
}


<fieldset>
    <legend>Patent</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.IntSearchCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IntSearchCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Owner)
    </div>
    <div class="display-field">
        @(
            string.IsNullOrWhiteSpace(Model.Owner) ? "N/A" : Html.DisplayFor(model => model.Owner).ToString()
        )
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Agency)
    </div>
    <div class="display-field">
        @(
            string.IsNullOrWhiteSpace(Model.Agency) ? "N/A" : Html.DisplayFor(model => model.Agency).ToString()
        )
    </div>


    @if (Model.PatentCountries != null && Model.PatentCountries.Any())
    {
        <div class="display-label">
            @Html.DisplayNameFor(model => model.PatentCountries)
        </div>            
        <div class="display-field">
            <table>
                <tr>
                    <th>Country</th>
                    <th>Application Number</th>
                    <th>Patent Number</th>
                    <th>Resource Code</th>
                </tr>

                @foreach (var pc in Model.PatentCountries)
                {
                    <tr>
                        <td>@pc.Country.Name</td>
                        <td>@pc.SearchCode</td>
                        <td>@pc.PatentNumber</td>
                        <td>@pc.ResourceCode</td>
                    </tr>
                }
            </table>
        </div>
    }

    @{
        IList<SerialNoSelection> serialNoSelection = Model.SerialNoes.Select(s => new SerialNoSelection {SerialNo = s}).ToList();
        Html.RenderPartial("_SerialNoPartial", serialNoSelection);
    }
    


</fieldset>
<p>
    @if (Roles.IsUserInRole("Admin"))
    {
        @Html.ActionLink("Generate more serial number", "Generate", new {id = Model.Id})
        <br/>
    }
    @Html.ActionLink("Patent List", "Index")
</p>

@section scripts
{
    <script src="@Url.Content("~/Scripts/main.js")">
    </script>
}