﻿@model IEnumerable<IPAdmin.Models.Patent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Roles.IsUserInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="gridtable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IntSearchCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IntSearchCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @if (Roles.IsUserInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) 
                }

                @Html.ActionLink("Details", "Details", new { id=item.Id })

                @if (Roles.IsUserInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                }
            </td>
        </tr>
}

</table>
