﻿@using System.Web.Mvc.Html
@using Antlr.Runtime
@using IPAdmin.Models
@model  IList<IPAdmin.ViewModels.SerialNoSelection>

@using (@Html.BeginForm("AssignCustomer", "SerialNo", new { path = Request.Path }))
{
if (Model != null && Model.Any())
{
    <div class="display-label">
        @*@Html.DisplayNameFor(Model);*@
    </div>

    <div class="display-field">
        <table id="SerialNumberTable">
            <thead>
                <tr>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        Patent
                    </th>
                    <th>
                        Serial Number
                    </th>
                    <th>
                        User Number
                    </th>
                    <th>
                        Current Level
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Invoice No
                    </th>
                    <th>
                        Dealer 1
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Invoice No
                    </th>
                    <th>
                        Dealer 2
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Invoice No
                    </th>
                    <th>
                        Manufacturer 1
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Invoice No
                    </th>
                    <th>
                        Manufacturer 2
                    </th>
                </tr>
            </thead>
            @for (int i=0; i<Model.Count(); i++)
            {
                var sn = Model[i];
                // only show serial number line if current user is one node in the line.
                
                var ssn = Roles.IsUserInRole("Admin") ? sn.SerialNo.SerialNoCustomers.FirstOrDefault() : sn.SerialNo.SerialNoCustomers.FirstOrDefault(c => c.CustomerId == WebSecurity.CurrentUserId);
                if (ssn == null)
                {
                    continue;
                }

                var validSNCustomers = sn.SerialNo.SerialNoCustomers.Where(snc => !snc.Customer.IsDeleted).ToList();

                <tr>
                    <td>
                        @Html.CheckBoxFor(m=>m[i].Selected)
                        @Html.HiddenFor(m=>m[i].SerialNo.Id)
                    </td>
                    <td>
                        @sn.SerialNo.Patent.Name
                    </td>
                    <td>
                        @Html.ActionLink(sn.SerialNo.SerialNumber, "Index", "SerialNo", new {id=sn.SerialNo.Id}, null)
                    </td>
                    <td>
                        @{
                            if (validSNCustomers.Any())
                            {
                                int count = validSNCustomers.Count;
                                @count
                                ;
                                <text> user(s)</text>
                            }
                            else
                            {
                                <text>0 user</text>
                            }
                        }

                    </td>
                    <td>
                        @Roles.GetRolesForUser(validSNCustomers.OrderByDescending(c => c.Order).First().Customer.UserName).First()
                    </td>
                    @PrintSNCustomerInfo(validSNCustomers, "D1")
                    @PrintSNCustomerInfo(validSNCustomers, "D2")
                    @PrintSNCustomerInfo(validSNCustomers, "M1")
                    @PrintSNCustomerInfo(validSNCustomers, "M2")
                </tr>
            }
        </table>
    </div>

    <input type="submit" value="Give to customer" />
}
}

@* ReSharper disable once InconsistentNaming *@
@helper  PrintSNCustomerInfo(IEnumerable<SerialNoCustomer> snCustomers, string level)
{
    var snCustomer = snCustomers.SingleOrDefault(x => Roles.IsUserInRole(x.Customer.UserName, level));
    if (snCustomer != null)
    {
        <td>@snCustomer.Price</td>
        <td>@snCustomer.InvoiceNo</td>
        <td>@snCustomer.Customer.Company</td>
    }
    else
    {
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    }

}
