﻿@model IPAdmin.Models.ResetPasswordModel

@{
    ViewBag.Title = "Forget Password";
}

<h2>Enter user name</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <p>
            @Html.LabelFor(model => model.UserName)
        </p>
        <p>
            @Html.TextBoxFor(model => model.UserName)
        </p>
    </fieldset>

    <p>
        <input type="submit" value="Reset Password"/>
    </p>
}
