﻿@using IPAdmin.ViewModels
@model IPAdmin.Models.UserProfile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    
    <div class="display-label">
        Level
    </div>
    <div class="display-field">
        @Roles.GetRolesForUser(Model.UserName).FirstOrDefault()
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParentUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentUser.UserName)
    </div>
    
    @if (Model.SerialNoCustomers.Count > 0)
    {
        Html.RenderPartial("_SerialNoPartial", Model.SerialNoCustomers.Where(sn => !sn.SerialNo.Patent.IsDeleted).Select(sn => new SerialNoSelection {SerialNo = sn.SerialNo}).ToList());
    }
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts
{
    <script src="@Url.Content("~/Scripts/main.js")">
    </script>
}