﻿@model IEnumerable<IPAdmin.Models.UserProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Customer List</h2>

<table class="gridtable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Level
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentUser)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Roles.GetRolesForUser(item.UserName).FirstOrDefault()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentUser.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>

@if (HttpContext.Current.User.IsInRole("Admin"))
{
    @Html.ActionLink("Create customer", "Register", "Account")
}
