﻿@using Antlr.Runtime
@model IPAdmin.ViewModels.AssignSerialNos

@{
    ViewBag.Title = "AssignSerialNo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign SerialNo in Batch</h2>

@using (Html.BeginForm("DoBatchAssign", "SerialNo", new { path = Request.Path }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (Model.SerialNo != null && Model.SerialNo.Any())
    {
        <div class="display-field">
            <table id="SerialNumberTable">
                <thead>
                    <tr>
                        <th>
                            Serial Number
                        </th>
                        <th>
                            User Number
                        </th>
                        <th>
                            Current Level
                        </th>
                    </tr>
                </thead>
                @for (int i=0; i<Model.SerialNo.Count; i++)
                {
                    var sn = Model.SerialNo[i];
                    // only show serial number line if current user is one node in the line.
                    var ssn = Roles.IsUserInRole("Admin") ? sn.SerialNoCustomers.FirstOrDefault() : sn.SerialNoCustomers.FirstOrDefault(c => c.CustomerId == WebSecurity.CurrentUserId);
                    if (ssn == null)
                    {
                        continue;
                    }

                    var validSNCustomers = sn.SerialNoCustomers.Where(snc => !snc.Customer.IsDeleted).ToList();

                    <tr>
                        <td>
                            @sn.SerialNumber
                            @Html.HiddenFor(x=>x.SerialNo[i].Id)
                        </td>
                        <td>
                            @{
                                if (validSNCustomers.Any())
                                {
                                    int count = validSNCustomers.Count;
                                    @count
                                    ;
                                    <text> user(s)</text>
                                }
                                else
                                {
                                    <text>0 user</text>
                                }
                            }

                        </td>
                        <td>
                            @Roles.GetRolesForUser(validSNCustomers.OrderByDescending(c => c.Order).First().Customer.UserName).First()
                        </td>
                    </tr>
                }
            </table>
        </div>
    }

    @Html.DropDownListFor(m => m.SelectedCustomerId, new SelectList(Model.Customers, "UserId", "UserAndRole"), "--Select--")
    @Html.ValidationMessageFor(m => m.SelectedCustomerId)

    <div>
        @Html.LabelFor(m => m.ContractNo)
        @Html.EditorFor(m => m.ContractNo)
        @Html.ValidationMessageFor(m => m.ContractNo)
    </div>
    
    <div>
        @Html.LabelFor(m => m.InvoiceNo)
        @Html.EditorFor(m => m.InvoiceNo)
        @Html.ValidationMessageFor(m => m.InvoiceNo)
    </div>

    <div>
        @Html.LabelFor(m => m.Currency)
        @Html.EditorFor(m => m.Currency)
        @Html.ValidationMessageFor(m => m.Currency)
    </div>

    <div>
        @Html.LabelFor(m => m.Price)
        @Html.EditorFor(m => m.Price)
        @Html.ValidationMessageFor(m => m.Price)
    </div>

    <div>
        @Html.LabelFor(m => m.MachineId)
        @Html.EditorFor(m => m.MachineId)
    </div>


    <p>
        <input type="submit" value="Give to customer" />
    </p>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
