﻿@model IPAdmin.ViewModels.AvailableCustomer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Model.SerialNo.SerialNumber<br/>

    @Html.HiddenFor(m=>m.SerialNoId)
    @Html.DropDownListFor(m => m.SelectedCustomerId, new SelectList(Model.Customers, "UserId", "UserAndRole"), "--Select--")

    <div>
        @Html.LabelFor(m => m.ContractNo)
        @Html.EditorFor(m => m.ContractNo)
        @Html.ValidationMessageFor(m => m.ContractNo)
    </div>
    
    <div>
        @Html.LabelFor(m => m.InvoiceNo)
        @Html.EditorFor(m => m.InvoiceNo)
        @Html.ValidationMessageFor(m => m.InvoiceNo)
    </div>

    <div>
        @Html.LabelFor(m => m.Currency)
        @Html.EditorFor(m => m.Currency)
        @Html.ValidationMessageFor(m => m.Currency)
    </div>

    <div>
        @Html.LabelFor(m => m.Price)
        @Html.EditorFor(m => m.Price)
        @Html.ValidationMessageFor(m => m.Price)
    </div>

    <div>
        @Html.LabelFor(m => m.MachineId)
        @Html.EditorFor(m => m.MachineId)
    </div>
    <p>
        <input type="submit" value="Give to customer" />
    </p>
}

@Html.ActionLink("Create new customer", "Create", "Customer")

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
