﻿
@using IPAdmin.Models
@model IEnumerable<IPAdmin.Models.SerialNoCustomer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SerialNoCustomer snCustomer;
}

<h2>Certify Details</h2>
<br/>

@if (Model.FirstOrDefault() != null)
{
    snCustomer = Model.FirstOrDefault();

    <div class="display-label">
        Patent
    </div>
    @snCustomer.SerialNo.Patent.Name
    <br/><br/>
    <div class="display-label">
        Serial Number
    </div>
    @snCustomer.SerialNo.SerialNumber
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Company)
        </th>
        <th>
            Customer Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineId)
        </th>
    </tr>

    @foreach (var item in Model.Where( c => c.Customer.IsDeleted == false))
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Customer.UserName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Customer.Company)
            </td>
            <td>
                @Roles.GetRolesForUser(item.Customer.UserName).FirstOrDefault()
            </td>
            <td>
                @Html.DisplayFor(model=>item.ContractNo)
            </td>
            <td>
                @Html.DisplayFor(model=>item.InvoiceNo)
            </td>
            <td>
                @Html.DisplayFor(model => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
            <td>
                @Html.DisplayFor(model => item.MachineId)
            </td>
        </tr>
    }
    
</table>

<br/>
<br/>

@if (Model.FirstOrDefault() != null)
{
    snCustomer = Model.FirstOrDefault();
    @Html.ActionLink("Give to customer", "Create", new {id = snCustomer.SerialNoId}) <br/>
    @Html.ActionLink("Print", "PrintChild", new {id=snCustomer.SerialNoId})

}

