﻿@using System.Web.UI.WebControls
@model IPAdmin.Models.PatentCountry
<style type="text/css">
    .country label
    {
        display: inline;
        font-size: 1em;
        font-weight: normal;
    }
</style>

<div class="country">
    @Html.HiddenFor(model => model.Country.Id)
    @Html.HiddenFor(model => model.Country.Name)
    
    <p style="font-size: 1.2em; font-weight: bold">
    @Html.DisplayTextFor(model => model.Country.Name)
    </p>

    @Html.LabelFor(model => model.SearchCode)
    @Html.EditorFor(model => model.SearchCode)
    <br/>

    @Html.LabelFor(model => model.PatentNumber)
    @Html.EditorFor(model => model.PatentNumber)
    <br/>

    @Html.LabelFor(model => model.ResourceCode)
    @Html.EditorFor(model => model.ResourceCode)
    <br/>

</div>
